@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-Palanquin {
  font-family: "Palanquin", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.color-primary {
  color: #262262;
}

.color-sec {
  color: #00AEEF;
}

.background-primary {
  background-color: #262262;
}

.background-sec {
  background-color: #00AEEF;
}






@property --radius {
  syntax: '<length>';
  inherits: true;
  initial-value: 0;

}

.hello img {
  --size: 150px;
  --f: 6;
  --radius: calc(var(--size)/var(--f));
  width: var(--size);
  height: auto;
  aspect-ratio: 1.155;
  object-fit: cover;
  --cg: #0000, #000 1deg 119deg, #0000 120deg;
  --rad: radial-gradient(farthest-side, #000 99%, #0000 101%);
  --s: calc(2*var(--radius)) calc(2*var(--radius));
  -webkit-mask:
    var(--rad) left calc(0.25*var(--size) - 0.4*var(--radius)) top 0 / var(--s),
    var(--rad) right calc(0.25*var(--size) - 0.4*var(--radius)) top 0 / var(--s),
    var(--rad) left calc(0.25*var(--size) - 0.4*var(--radius)) bottom 0 / var(--s),
    var(--rad) right calc(0.25*var(--size) - 0.4*var(--radius)) bottom 0 / var(--s),
    var(--rad) left calc(0.15*var(--radius)) top 50% / var(--s),
    var(--rad) right calc(0.15*var(--radius)) top 50% / var(--s),
    conic-gradient(from 30deg at left calc(-0.3*var(--radius)) top 50%, var(--cg)) left calc(0.3*var(--radius)) top 50% /50% calc(100% - 0.8*var(--radius)),
    conic-gradient(from -150deg at right calc(-0.3*var(--radius)) top 50%, var(--cg)) right calc(0.3*var(--radius)) top 50% /50% calc(100% - 0.8*var(--radius)),
    linear-gradient(#000 0 0) center/calc(45% - 1.1*var(--radius));
  -webkit-mask-repeat: no-repeat;
  cursor: pointer;
  transition: --radius 0.3s linear;
  background-color: gray;
  /* Set default background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  /* Add gray shadow */
}

.hello img:hover {
  --radius: calc(var(--size)/2.5);
}

#1 {
  background: #431f1f;
  display: grid;
  height: 100vh;
  grid-auto-flow: column;
  place-content: center;
  gap: 15px;
  filter: drop-shadow(0 0 2px #FA6900) drop-shadow(0 0 1px #FA6900) drop-shadow(0 0 1px #FA6900) drop-shadow(0 0 1px #FA6900);
}

/* ===================== */
.body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.hexagon {
  position: relative;
  width: 86.55px;
  height: 150px;
  background: white;
  border-radius: 1em / .5em;
  box-shadow:
    0 8px 8px -15px #431f1f,
    /* top shadow */
    0 -8px 8px -15px #431f1f;
  /* bottom shadow */
  transform: rotate(30deg);
}

.hexagon::before,
.hexagon::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;

}


.hexagon::before {
  transform: rotate(60deg);
  box-shadow:
    0 8px 8px -15px #431f1f,
    /* top shadow */
    0 -8px 8px -15px #431f1f;
}

.hexagon::after {
  transform: rotate(-60deg);
  box-shadow:
    0 8px 8px -15px #431f1f,
    /* top shadow */
    0 -8px 8px -15px #431f1f;
}

/* ===================== */



.prop1 {
  animation: moveLeft 5s forwards infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  0% {
    transform: translateX(0);
  }
}

.body {
  animation: moveUpDown infinite alternate;
  animation-duration: calc(2s + var(--delay)); /* Adjust duration as needed */
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move down */
  }
}

/* Your delay values for synchronization */
.body:nth-child(1) {
  --delay: 10s;
}
.body:nth-child(2) {
  --delay: 8s;
}
.body:nth-child(3) {
  --delay: 10s;
}
.body:nth-child(4) {
  --delay: 8s;
}
.body:nth-child(5) {
  --delay: 9s;
}
.body:nth-child(6) {
  --delay: 10s;
}
.body:nth-child(7) {
  --delay: 8s;
}
.body:nth-child(8) {
  --delay: 9s;
}
.body:nth-child(9) {
  --delay: 9.5s;
}
.body:nth-child(10) {
  --delay: 8s;
}
.body:nth-child(11) {
  --delay: 9s;
}
.body:nth-child(12) {
  --delay: 8s;
}

/* React Spin */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reactspin {
  animation: spin infinite 20s linear; /* Adjust duration and timing function as needed */
}